.widget {
	display: block;
	margin-bottom: 1.5em;
	&:last-child { margin-bottom: 0; }
	a.citation {
		font-size: .96em;
	}
	h2, h3 {
		margin: 0 0 1em 0;
	}
	h3 {
		font-size: 1em;
	}
	a { text-decoration: underline; }
}

.widget.press {
	ul li {
		border-bottom: 1px black solid;
		padding-bottom: 1em;
		&:last-child {
			border-bottom: none;
			padding-bottom: none;
		}
	}
	a.citation {
		line-height: 1.6em;
	}
}

.widget.newsletter {
	form.madmimi {
		input[type=email], input[type=text] {
			border: none;
			width: 80%;
			background: rgba(255, 255, 255, .3);
			padding: .5em;
			color: black;
			&:first-child { margin-bottom: .80em; }
		}
		button {
			margin-top: .75em;
			display: block;
			border: none;
			background: #999;
			padding: .5em;
		}
	}
}

.widget.notebook {
	.meta {
		font-size: .90em;
		span.date {
			color: #999;
		}
	}
}