section.content.page {
	@extend .constrain;
	article {
		@include span-columns(6);
		@include media(max-width 1200px) {
			@include span-columns(8);
		}
		blockquote {
			margin-left: 0;
			padding-left: 1em;
			border-left: 1px #333 solid;
		}
		ul {
			list-style-type: none;
			margin: 0 0;
			padding: 0 0;
			li {
				margin-left: 0;
				padding-left: 1em;
				border-left: 1px #333 solid;
				margin-bottom: 1em;
				line-height: 1.6em;
			}
		}
		form.contactform {
			input[type=email], input[type=text], textarea {
				display: block;
				border: none;
				width: 80%;
				background: rgba(255, 255, 255, .3);
				padding: .5em;
				color: black;
				margin-bottom: 1em;
				&:first-child { margin-bottom: .80em; }
			}
			label {
				display: block;
				margin-bottom: .5em;
				font-weight: bold;
			}
			button {
				margin-top: .75em;
				display: block;
				border: none;
				background: #999;
				padding: .5em;
			}
		}
	}
	aside.sidebar {
		@include span-columns(3);
		&:last-child {
			@include omega();
		}
		@include media(max-width 1200px) {
			@include span-columns(4);
		}
	}
	@include media(max-width 700px) {
		article, aside.sidebar { @include span-columns(12); }
	}
}