/**
 * Nicholas Young v9.0
 * (C) Copyright 2013 Nicholas Young. All rights reserved.
 */
@import 'includes/bootstrap';

/* Global Styles */
body div, section, header, img, p {
	@include transition(all .2s);
}

html {
	background: #222;
	ul {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	nav ul {
		list-style-type: none;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	p:first-child { margin-top: 0; }
}

body {
	font: {
		family: 'Gibson Regular';
		size: 1em;
	}
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: white;
}

.constrain {
	margin: 0 auto 0 auto;
	width: 90%;
	max-width: 1440px;
}

/*
 * Include CSS files for specific sections.
 */
@import 'sections/header';
@import 'sections/nav';
@import 'sections/content';
@import 'sections/footer';
@import 'elements/widgets';