section.content {
	@include clearfix();
	img {
		max-width: 100%;
		&.alignRight {
			float: right;
			margin: 1em 0 1em 1em;
			@include media(max-width 600px) { margin-top: 0; }
		}
	}
	p {
		font-size: 1em;
		font-weight: 100;
		line-height: 1.6em;
		a { text-decoration: underline; }
	}
	h2 {
		font-size: 1.2em;
		line-height: 1.4em;
	}
	h3 {
		font-size: 1em;
		line-height: 1.2em;
	}
	blockquote {
		margin-left: 0;
		padding-left: 1em;
		border-left: 1px #333 solid;
	}
	ul {
		list-style-type: none;
		margin: 0 0;
		padding: 0 0;
		li {
			margin-left: 0;
			padding-left: 1em;
			border-left: 1px #333 solid;
			margin-bottom: 1em;
			line-height: 1.6em;
		}
	}
}

/*
 * Headers
 */
h2.subhead {
	border-bottom: 1px #333 solid;
	padding-bottom: .75em;
}

/*
 * Lists
 */
ul.basic-list {
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

@import 'pages/home';
@import 'pages/page';
@import 'pages/notebook';
@import 'pages/work';