section.content {
	@include clearfix();
	@extend .constrain;
	img {
		max-width: 100%;
		&.alignRight {
			float: right;
			margin: 1em 0 1em 1em;
			@include media(max-width 600px) { margin-top: 0; }
		}
	}
	p {
		font-size: 1em;
		font-weight: 100;
		line-height: 1.6em;
		a { text-decoration: underline; }
	}
	h2 {
		font-size: 1.2em;
	}
	.specialty {
		@include span-columns(4);
		@include media (max-width 700px) {
			@include span-columns(12);
		}
		&:last-child { @include clearfix(); }
	}
	.notebook-features {
		@include span-columns(6);
		@include media(max-width 600px) {
			@include span-columns(12);
		}
	}
	article.entry.preview {
		a { text-decoration: underline; }
		h2 { font-size: .95em; }
		.metadata { font-size: .90em; }
	}
	&.page {
		article.page {
			@include media(min-width 600px) {
				@include span-columns(6);
			}
			@include media(max-width 600px) {
				@include span-columns(12);
			}
		}
	}
	&.notebook {
		.metadata {
			@include span-columns(2);
			span.date {
				display: block;
				text-transform: uppercase;
				margin-bottom: .5em;
				font-size: .9em;
				color: #999;
			}
			@include media (max-width 600px) {
				@include span-columns(12);
				font-size: .90em;
				border-bottom: 1px black solid;
				padding-bottom: 1em;
				margin-bottom: 1em;
				h2 {
					margin: 0 0 0 0;
					display: inline-block;
					font-weight: 100;
					font-size: .95em;
				}
			}
		}
		.content {
			@include span-columns(8);
			h2 { margin-top: 0; }
			@include media (max-width 600px) {
				@include span-columns(12);
			}
			a { text-decoration: underline; }
		}
		article {
			@include span-columns(10);
			margin-bottom: 2em;
			padding-bottom: 2em;
			border-bottom: 1px #333 solid;
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		.sidebar {
			@include span-columns(2);
		}
	}
	.sidebar {
		@include span-columns(3);
		@include media(max-width 600px) {
			@include span-columns(12);
		}	
	}
	h2.subhead, h3.subhead {
		border-bottom: 1px #333 solid;
		padding-bottom: .75em;
	}
}
/*
 * Lists
 */
ul.basic-list {
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

/*
 * Widgets
 */
.widget {
	margin-bottom: 1.5em;
	&:last-child { margin-bottom: 0; }

	a.citation {
		font-size: .96em;
	}
}

.widget.press {
	ul li {
		border-bottom: 1px black solid;
		padding-bottom: 1em;
		&:last-child {
			border-bottom: none;
			padding-bottom: none;
		}
	}
	a.citation {
		line-height: 1.6em;
	}
}
.widget.newsletter {
	form.madmimi {
		input[type=email], input[type=text] {
			border: none;
			width: 80%;
			background: #999;
			padding: .5em;
			color: black;
			&:first-child { margin-bottom: .80em; }
		}
		button {
			margin-top: .75em;
			display: block;
			border: none;
			background: #999;
			padding: .5em;
		}
	}
}