nav.menu {
	a.active { text-decoration: underline; }
	> ul {
		float: right;
		&.main {
			@include media(max-width 600px) {
				width: 100%;
				display: block;
				background: rgba(0, 0, 0, .5);
				margin-top: 1em;
				> li { display: block !important; margin-right: 0 !important; ul{ display: none !important;} }
			}
		}
		> li {
			position: relative;
			display: inline-block;
			margin-right: .5em;
			font-size: .95em;
			font-weight: 100;
			line-height: 35px;
			&:last-child { margin-right: 0; }
			&.active { > a { text-decoration: underline; } }	
			&:hover {
				background: rgba(0, 0, 0, .5);
				> ul {
					display: block;
				}
			}
			a {
				@include transition(all, .1s);
				padding-left: .8em;
				padding-right: .8em;
				display: block;
			}
			ul {
				display: none;
				position: absolute;
				background: rgba(0, 0, 0, .5);
				padding: 0 0 0 0;
				li {
					display: block;
					&:hover { background: rgba(255, 255, 255, .2); }
					&.active { background: rgba(255, 255, 255, .3); }
				}
			}
		}
	}
	
	// Background-visibility overrides
	ul.light {
		> li {
			&:hover {
				background: rgba(255, 255, 255, .2);
			}
			> ul { background: rgba(255, 255, 255, .2); }
		}
	}
	
	// Menu-placement specific overrides.
	ul.footer {
		*:hover { background: transparent; }
		li {
			margin-right: 1em;
			a { padding: 0 0 0 0; }
		}
	}
	
	/*
	 * Mobile
	 */
	.mobile-only {
		display: none;
	}
}

nav.main {
	@include clearfix();
	@extend nav.menu;
	@extend .constrain;
	padding-top: 1em;
	padding-bottom: 1em;
	a.logo {
		width: 35px;
		height: 35px;
		display: inline-block;
		background: url(../img/logo.png) center center no-repeat;
		background-size: 35px 35px;
		@include transition(all, .2s);
		&:hover {
			opacity: .6;
		}
		h1 {
			display: none;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			background: url(../img/logo-retina.png) center center no-repeat;
		}
	}	
}

nav.pagination {
	@include clearfix();
	width: 50%;
	margin: 0 auto 0 auto;
	.prev {
		float: left;
	}
	.next {
		float: right;
	}
}
