nav.menu {
	ul {
		float: right;
		li {
			display: inline-block;
			margin-right: 1em;
			font-size: .95em;
			font-weight: 100;
			line-height: 35px;
			&.active { a { text-decoration: underline; } }	
			a {
				@include transition(all, .1s);
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}

nav.main {
	@include clearfix();
	@extend nav.menu;
	@extend .constrain;
	border-bottom: 1px #999 solid;
	padding-top: 1em;
	padding-bottom: 1em;
	a.logo {
		width: 35px;
		height: 35px;
		display: inline-block;
		background: url(../img/logo.png) center center no-repeat;
		background-size: 35px 35px;
		@include transition(all, .2s);
		&:hover {
			opacity: .6;
		}
		h1 {
			display: none;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			background: url(../img/logo-retina.png) center center no-repeat;
		}
	}	
}

nav.pagination {
	@include clearfix();
	width: 50%;
	margin: 0 auto 0 auto;
	.prev {
		float: left;
	}
	.next {
		float: right;
	}
}
