/* General */

html, body {
  font-family: 'Lato';
    
  a { 
    text-decoration: none;
    color: inherit;
  }
}

/* Headers / Navigation */
header.top {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  lost-utility: clearfix;
  background: #999;
  
  a.logo {
    h1 {
      margin: 0 0;
    }
  }

  nav.main {
    float: right;
  }
}

nav.main {
  ul {
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
    li { display: inline-block; }
  }
}
