.show-info {
  display: block;
  clear: both;
}

.show-artwork {
  max-width: 250px;
  margin-left: 1em;
  margin-bottom: 1em;
  float: right;
}

ul.show-episodes {
  display: block;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 2em 0 0 0;
}

ul.show-episodes li {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px rgba(0,0,0,.1) solid;
}

ul.show-episodes li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
